/pyvenv.cfg
/PcadetAdmission/db.sqlite3
/bin/
/include/
/lib/
/PcadetAdmission/media/
/PcadetAdmission/admissionlogin/migrations/
/PcadetAdmission/admissDetail/migrations/
/env/
/docs/
/PcadetAdmission/pca65/migrations/
