{% extends "base.html" %}
{% load static %}
{% block title_block %}
    ติดต่อ เกี่ยวกับ การสมัครสอบคัดเลือกนักเรียนเตรียมทหารในส่วนของกองทัพบก ประจำปี 2564
{% endblock %}

{% block body_block %}



    <table align="center">
        <tbody>
        <div id="wrapper">
            <p align="left"><img src={% static "image/contact1.png" %} width="282" height="49"></p>
            <img src={% static "image/contact.png" %} width="800" height="1200">

        </div>


        </tbody>
    </table>



{% endblock %}