{% extends "admissDetail/base.html" %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Welcome to the Student Detail Page</h1>
    <h2>student Details:</h2>
    <p>Id_num: {{student_details.id}}</p>
    <p>Name: {{student_details.name}}</p>
    <p>Principal: {{student_details.surname}}</p>
    <p>Location: {{student_details.age}}</p>
    <p>Location: {{student_details.personalID}}</p>
    <p>Location: {{student_details.education}}</p>

  </div>
  <div class="container">
    <p><a class='btn btn-warning' href="{% url 'admissDetail:update' pk=student_details.pk %}">Update</a></p>

  </div>

{% endblock %}
