{% extends "admissionlogin/base.html" %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>ขอบคุณที่สมัครสอบเข้าโรงเรียนเตรียมทหารในส่วนของกองทัพบก</h1>
      {% else %}
        <h1>ลงรายละเอียดที่นี่</h1>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>

  </div>

{% endblock %}
